<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Product">

	<resultMap type="Product" id="ProductMap">
		<id column="product_id" property="product_id"/>
		<result column="product_name" property="product_name"/>
		<result column="brand" property="brand"/>
		<result column="price" property="price"/>
		<result column="discount" property="discount"/>
		<result column="memo" property="memo"/>
		<result column="detail" property="detail"/>
		<result column="product_img" property="product_img"/>
		<association column="subcategory_id" property="subcategory" javaType="SubCategory" select="SubCategory.select"/>
	</resultMap>

	<!-- 선택한 ㅏㅇ위 카테고리에 소속된 사움 가져오기 -->
	<select id="selectByTopId" resultMap="ProductMap" parameterType="int">
		select * from product where subcategory_id in (select subcategory_id from topcategory where topcategory_id=#{topcategory_id})
	</select>


	<!-- 관리자 등록 -->
	<insert id="insert" parameterType="Product">
		insert into product (product_id, product_name, brand, price, discount, memo, detail, product_img, subcategory_id ) 
		values (seq_product.nextval,#{product_name}, #{brand}, #{price},#{discount}, #{memo}, #{detail}, #{product_img}, #{subcategory.subcategory_id})
	</insert>

	<!-- 조건 없이 모두 가져오기 -->
	<select id="selectAll" resultMap="ProductMap">
		select * from product order by product_id desc
	</select>
	
	<!-- 선택된 하위 카테고리에 소속된 상품 가져오기 -->
	<select id="selectBySubId" parameterType="int" resultMap="ProductMap">
		select * from product where subcategory_id = #{subcategory_id}
	</select>
	
	<select id="select" parameterType="int" resultMap="ProductMap">
		select * from product where product_id=#{product_id}
	</select>
	
	
	
</mapper>