<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Product">

	<resultMap type="Product" id="ProductMap">
		<id column="product_id" property="product_id"/>
		<result column="product_name" property="product_name"/>
		<result column="brand" property="brand"/>
		<result column="price" property="price"/>
		<result column="discount" property="discount"/>
		<result column="memo" property="memo"/>
		<result column="detail" property="detail"/>
		<result column="product_img" property="product_img"/>
		<association column="subcategory_id" property="subcategory" javaType="SubCategory" select="SubCategory.select"/>
	</resultMap>


	<!-- 관리자 등록 -->
	<insert id="insert" parameterType="Product">
		insert into product (product_id, product_name, brand, price, discount, memo, detail, product_img, subcategory_id ) 
		values (seq_product.nextval,#{product_name}, #{brand}, #{price},#{discount}, #{memo}, #{detail}, #{product_img}, #{subcategory.subcategory_id})
	</insert>


	<select id="selectAll" resultMap="ProductMap">
		select * from product
	</select>
	
</mapper>